.container{
  display:flex;
  /* background-color: gray; */
  /* height:100%; */
  /* width:100%; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
   /* justify-content: space-between; */
   justify-content: space-around;
   /* justify-content: flex-end; */
  
}
 #item1{
  background-color: yellowgreen;
  width:50%;

    
}
#item2{
  background-color:rosybrown;
  width:25%;
} 

.child{
  border:1px solid black;
  height:120px;
  padding:20px;
}
.container1{
  display:flex;
  flex-wrap: wrap;

}
.children{
  margin:30px;
      padding:30px;
      border:1px solid black;
      
      background-color:teal;
      /* flex:1; */
}