.item{
  margin:0 30px;
  padding:20px;
  /* height:100px; */
  /* width:100px; */
  border:1px solid black;
  /* flex:grow; */
  }
.container{
  height:60px;
  width:600px;
  border:2px solid black;
  background-color: gray;
  display:flex;
  flex-direction: row;
  flex:wrap;
  justify-content: space-around;

  position:relative;
  
  animation-name: stretch;
  animation-fill-mode: forward;
  animation-duration: 5s;
  animation-iteration-count:initial;

}
@keyframes stretch{
  from{
    transform:translateX(0);
    width:600px;
    }
  to{
  transform:translateX(700px);
  width:1100px;

}
}